body {
  margin: 0;
  font-family: "Otomanopee One", sans-serif;
  box-sizing: border-box;
}

/*/// Estilos del Header ////*/

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: black;
}

h1 {
  color: blanchedalmond;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav button {
  color: white;
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
}

nav button:hover {
  background-color: rgb(85, 81, 81);
}

/*/// Estilos Main ////*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(61, 59, 59);
}

/*/// Estilos Section Conteiner-imagen ////*/

.conteiner-imagen {
  width: 600px;
  height: 100%;
}

.texto-superior,
.texto-inferior {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
}

.imagen {
  height: 400px;
  background-color: black;
}

.descargar {
  width: 200px;
  height: 50px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
    text-align: center;
  }
  .conteiner-imagen {
    width: 450px;
    height: 550px;
  }
}
