body {
  margin: 0;
  font-family: "Otomanopee One", sans-serif;
  box-sizing: border-box;
  background-color: rgb(61, 59, 59);
}

/*/// ESTILOS DEL HEADER ////*/

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
  color: rgb(255, 235, 205);
}

nav button {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

nav button:hover {
  background-color: rgb(85, 81, 81);
}

/*/// ESTILOS MAIN ////*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*/// ESTILOS SECCIÓN .conteiner-imagen ////*/

.conteiner-imagen {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 430px;
  height: 430px;
  
}

.texto-superior,
.texto-inferior {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
}

.parrafo-superior {
  margin: 15px;
  text-align: center;
}
.parrafo-inferior {
  margin: 15px;
} 

.imagen-src {
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

#img-meme{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descargar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 128, 0);
  color: rgb(255, 255, 255);
}

.descargar i {
  font-size: 18px;
  background-color: transparent;
}

/*//ESTILOS FORMULARIO IMAGEN ////*/

.panel-img {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 280px;
  position: fixed;
  top: 0;
  right: 0;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
}

form {
  width: 90%;
  height: 90%;
}

.titulo-panel {
  text-align: center;
  color: rgb(255, 255, 255);
}

#url {
  width: 98%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(46, 45, 45);
  color: rgb(255, 255, 255);
}

label,
.titulo-fondo,
.filtros {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.conteiner-color-fondo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 48%;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(46, 45, 45);
}

#color-fondo-img {
  width: 30px;
  border: none;
  background-color: transparent;
}

input[type="color"] {
  width: 30px;
  border: none;
  background-color: transparent;
}

.texto-color-fondo-img {
  font-size: 14px;
  color: rgb(255, 255, 255); 
}

#opciones-fondo-img {
  width: 48%;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 45, 45);
  color: rgb(255, 255, 255);
}

.color-fondo-img {
  display: flex;
  justify-content: space-around;
}

input[type="range"] {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  margin-bottom: 15px;
  appearance: none;
  background-color: rgb(128, 128, 128);
}

.reestablecer-filtros {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: rgb(46, 45, 45);
  color: rgb(255, 255, 255);
}

.boton-cerrar-menu-imagen {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: transparent;
  display: none;
}

.boton-cerrar-menu-texto {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: transparent;
  display: none;
}

.fa-window-close {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.74);
}

/*//ESTILOS FORMULARIO TEXTO ////*/

.panel-texto {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 280px;
  position: fixed;
  top: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  overflow: scroll;
}

.ocultar {
  display: none;
}

.titulo-panel-texto {
  text-align: center;
  color: rgb(255, 255, 255);
}

#superior,
#inferior,
#tipos-de-fuentes,
#interlineado,
#espaciado {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  background-color: rgb(46, 45, 45);
}

#label-checkbox-superior{
  background-color: transparent;
  
}
#label-ckeckbox-inferior{
  background-color:transparent;
 
}

#tamanio-letra {
  width: 45%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
  background-color: rgb(46, 45, 45);
}

.tamanio-letra,
.color-y-fondo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input-fondo,
#input-color {
  width: 30px;
  padding: 0;
  margin: 8px;
}

span {
  font-size: 15px;
}

.conteiner-input-color-fondo-texto {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-right: 3px;
  border-radius: 5px;
  margin-bottom: 7px;
  background-color: rgb(46, 45, 45);
}

.fas {
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 45, 45);
}

#boton-izquierda,
#boton-centrado,
#boton-derecha {
  margin: 3px;
  border-radius: 5px;
  background-color: rgb(46, 45, 45);
}

.alineacion {
  display: flex;
  justify-content: space-around;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 5px;
}

.tipos-contorno {
  margin-top: 25px;
  margin-bottom: 30px;
}

#claro,
#ninguno,
#oscuro {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  border: none;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 45, 45);
}

textarea,
select,
input,
h3,
span {
  color: white;
}

h3 {
  font-size: 14px;
}

/* ESTILOS MODO CLARO */

.clase-modo-claro {
  background-color:#e0e0e0;
  color: rgb(46, 45, 45);
}

.nav > button { 
  background-color: transparent;
  color: rgb(46, 45, 45);
} 

.fuentes-modo-claro {
  color:rgb(46, 45, 45);
}

.panel-fondo-claro {
  background-color: #fafafa;
  color: rgb(46, 45, 45);
}

.clase-labels {
  color: rgb(46, 45, 45);
}

/** MEDIA QUERY **/

@media screen and (max-width: 1000px) {
  .boton-cerrar-menu-imagen {
    display: block;
  }

  .boton-cerrar-menu-texto {
    display: block;
  }

  #panel-img {
    width: 100%;
  }

  #panel-texto {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 24px;
  }
  .conteiner-imagen {
    height: 500px;
  }
  .parrafo-superior,
  .parrafo-inferior {
    font-size: 27px;
  }
}

@media screen and (max-width: 400px) {
  .conteiner-imagen {
    height: 380px;
  }

  nav button {
    padding: 5px;
    margin-bottom: 3px;
    font-size: 12px;
  }
}