body {
  margin: 0;
  font-family: "Otomanopee One", sans-serif;
  box-sizing: border-box;
  background-color: rgb(61, 59, 59);
}

/*/// Estilos del Header ////*/

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: black;
}

h1 {
  color: blanchedalmond;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav button {
  color: white;
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  font-size: 16px;
}

nav button:hover {
  background-color: rgb(85, 81, 81);
}

/*/// Estilos Main ////*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*/// ESTILOS SECCIÓN .conteiner-imagen ////*/

.conteiner-imagen {
  width: 95%;
  max-width: 430px;
  height: 430px;
}

.texto-superior,
.texto-inferior {
  height: 15%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bolder;
}

.imagen-src {
  height: 70%;
  background-color: black;
  overflow: hidden;
}

#img-meme {
  width: 100%;
}

.descargar {
  width: 180px;
  height: 45px;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.descargar i {
  background-color: transparent;
  font-size: 18px;
}

/*//ESTILOS FORMULARIO IMAGEN ////*/

#panel-img {
  height: 100%;
  width: 280px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

form {
  width: 90%;
  height: 90%;
}

.titulo-panel {
  text-align: center;
  color: white;
}

#url {
  width: 98%;
  height: 35px;
  background-color: rgb(46, 45, 45);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}

label,
.titulo-fondo,
.filtros {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.conteiner-color-fondo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(46, 45, 45);
  height: 35px;
  border-radius: 5px;
  width: 48%;
}

#color-fondo-img {
  width: 30px;
  border: none;
  background-color: transparent;
}

.texto-color-fondo-img {
  color: white;
  font-size: 14px;
}
#opciones-fondo-img {
  width: 48%;
  background-color: rgb(46, 45, 45);
  border: none;
  color: white;
  border-radius: 5px;
}
.color-fondo-img {
  display: flex;
  justify-content: space-around;
}

input[type="range"] {
  width: 100%;
  height: 6px;
  margin-bottom: 15px;
  appearance: none;
  background-color: gray;
  border-radius: 10px;
}

.reestablecer-filtros {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(46, 45, 45);
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 26px;
  }
  .conteiner-imagen {
    height: 500px;
  }
  .texto-superior,
  .texto-inferior {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .conteiner-imagen {
    height: 380px;
  }
}
/*//ESTILOS FORMULARIO TEXTO ////*/

#panel-texto {
  height: 100%;
  width: 280px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: scroll;
  
}
.titulo-panel-texto {
  text-align: center;
  color: white;
}
#superior,
#inferior,
#tipos-de-fuentes,
#interlineado,
#espaciado {
  width: 98%;
  height: 35px;
  background-color: rgb(46, 45, 45);
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
}
#tamanio-letra {
  height: 35px;
  background-color: rgb(46, 45, 45);
  border: none;
  border-radius: 5px;
  width: 48%;
  margin-top: 7px;
}

.tamanio-letra,
.color-y-fondo {
  display: flex;
  margin-top: 8px;
}
#input-fondo,
#input-color {
  width: 30px;
  padding: 0;
  margin: 8px;
}

span {
  margin: 8px;
  font-size: 15px;
}

.fas {
  background-color: rgb(46, 45, 45);
  color: white;
  border-radius: 3px;
  padding: 7px;
  font-size: 15px;
}
#boton-izquierda,
#boton-centrado,
#boton-derecha {
  margin: 3px;
  background-color: rgb(46, 45, 45);
  border-radius: 5px;
}
.alineacion {
  width: 48%;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  padding: 0;
  margin-top: 4px;
}
.tipos-contorno {
  margin-top: 30px;
}
#claro,
#ninguno,
#oscuro {
  font-family: sans-serif;
  background-color: rgb(46, 45, 45);
  border: none;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 3px;
}
.color-color,
.fondo-fondo {
  display: flex;
  background-color: rgb(46, 45, 45);
  margin: 3px;
  border-radius: 5px;
}
textarea,
select,
input,
h3,
span {
  color: white;
}
h3 {
  font-size: 14px;
}

/* Clase para modo oscuro */
